@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.otf") format("opentype"); }

@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/AvenirLT-95 Black.ttf") format("truetype"); }

@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter.ttf") format("truetype"); }

body {
  position: relative; }

.navbar {
  height: 80px;
  left: 0;
  width: 100%;
  transition: all 0.3s; }
  .navbar--top {
    background: #FFFFFF;
    border-bottom: 2px solid #FBFBFB;
    top: 0;
    z-index: 123; }
    .navbar--top .navbar__list .list-item {
      width: 25%;
      padding: 3%;
      text-align: center; }
      .navbar--top .navbar__list .list-item:hover {
        cursor: pointer;
        background: url("../images/background.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: top;
        display: inline-block; }
      .navbar--top .navbar__list .list-item.active {
        cursor: pointer;
        background: url("../images/background.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: top;
        display: inline-block; }
    @media (min-width: 1440px) {
      .navbar--top .navbar__list {
        width: 25%;
        margin-left: 70%; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      .navbar--top .navbar__list {
        width: 40%;
        margin-left: 55%; } }
    @media (min-width: 1440px) {
      .navbar--top {
        border: none; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      .navbar--top {
        border: none; } }
  .navbar--side {
    background: #F6F6F6;
    bottom: 0;
    z-index: 124; }
    @media (min-width: 1440px) {
      .navbar--side .navbar__list {
        height: 35%;
        margin-top: 62vh;
        flex-direction: column; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      .navbar--side .navbar__list {
        height: 30%;
        margin-top: 65vh;
        flex-direction: column; } }
    @media (min-width: 1440px) {
      .navbar--side {
        height: 100%;
        left: 0;
        width: 80px; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      .navbar--side {
        height: 100%;
        left: 0;
        width: 80px; } }

.navbar__list {
  align-items: center;
  /* background: #e11245; */
  display: flex;
  height: 100%;
  justify-content: space-around;
  list-style: none; }
  .navbar__list .list-item {
    /* background: #e11; */
    font-family: "Avenir", sans-serif;
    font-size: 17px; }
    .navbar__list .list-item .icon {
      font-size: 35px; }
      @media (min-width: 1440px) {
        .navbar__list .list-item .icon {
          font-size: 30px; } }

.content {
  height: calc(100vh - 80px);
  margin-top: 80px;
  width: 100%; }
  .content__home .home-view {
    max-width: 600px;
    padding: 60px 30px; }
    .content__home .home-view .heading {
      font-family: "Avenir Black", sans-serif;
      font-size: 40px;
      font-weight: 900; }
      @media (min-width: 1440px) {
        .content__home .home-view .heading {
          font-size: 60px; } }
      @media (min-width: 768px) and (max-width: 1439px) {
        .content__home .home-view .heading {
          font-size: 50px; } }
    .content__home .home-view .title {
      color: #8E8E8E;
      font-family: "Avenir", sans-serif;
      font-size: 18px;
      font-weight: 300; }
    .content__home .home-view .description {
      font-family: "Charter", serif;
      margin-top: 15px;
      line-height: 1.8; }
      @media (min-width: 1440px) {
        .content__home .home-view .description {
          line-height: 2;
          font-size: 18px; } }
      @media (min-width: 768px) and (max-width: 1439px) {
        .content__home .home-view .description {
          line-height: 2;
          font-size: 18px; } }
    @media (min-width: 1440px) {
      .content__home .home-view {
        max-width: 920px;
        padding: 200px 200px; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      .content__home .home-view {
        padding: 350px 100px; } }
  .content__blog .blog-view {
    overflow: scroll;
    height: calc(100vh - 160px);
    max-width: 600px;
    padding: 20px 30px; }
    .content__blog .blog-view .blog-head {
      text-align: center; }
      .content__blog .blog-view .blog-head h2 {
        font-family: "Avenir Black", sans-serif;
        font-size: 30px; }
      .content__blog .blog-view .blog-head .search-bar {
        background: #F9F9F9;
        border-radius: 50px;
        font-family: "Avenir", sans-serif;
        margin: 20px auto;
        position: relative;
        width: 280px;
        height: 45px; }
        .content__blog .blog-view .blog-head .search-bar input {
          height: 100%;
          width: 70%;
          position: absolute;
          left: 10%; }
          .content__blog .blog-view .blog-head .search-bar input::placeholder {
            color: #000000; }
        .content__blog .blog-view .blog-head .search-bar .search-icon {
          background: url("../images/search-icon.svg");
          background-position: center;
          background-repeat: no-repeat;
          height: 100%;
          position: absolute;
          right: 0;
          width: 20%; }
        @media (min-width: 1440px) {
          .content__blog .blog-view .blog-head .search-bar {
            margin: 20px 0; } }
        @media (min-width: 768px) and (max-width: 1439px) {
          .content__blog .blog-view .blog-head .search-bar {
            margin: 20px 0; } }
      @media (min-width: 1440px) {
        .content__blog .blog-view .blog-head {
          display: flex;
          justify-content: space-between;
          align-items: center; } }
      @media (min-width: 768px) and (max-width: 1439px) {
        .content__blog .blog-view .blog-head {
          display: flex;
          justify-content: space-between;
          align-items: center; } }
    .content__blog .blog-view .blog-list ul {
      list-style: none; }
    .content__blog .blog-view .blog-list .list-item {
      margin-bottom: 30px; }
      .content__blog .blog-view .blog-list .list-item:hover {
        cursor: pointer; }
        .content__blog .blog-view .blog-list .list-item:hover .list-head {
          color: #008CEC; }
        .content__blog .blog-view .blog-list .list-item:hover .list-link {
          opacity: 1; }
    .content__blog .blog-view .blog-list .list-head {
      font-family: "Avenir Black", sans-serif;
      margin-bottom: 10px;
      transition: all 0.2s; }
      @media (min-width: 1440px) {
        .content__blog .blog-view .blog-list .list-head {
          font-size: 22px; } }
      @media (min-width: 768px) and (max-width: 1439px) {
        .content__blog .blog-view .blog-list .list-head {
          font-size: 22px; } }
    .content__blog .blog-view .blog-list .list-date {
      color: #8E8E8E;
      font-family: "Avenir", sans-serif;
      margin-bottom: 5px; }
    .content__blog .blog-view .blog-list .list-desc {
      font-family: "Charter", serif; }
    .content__blog .blog-view .blog-list .list-link {
      color: #008CEC;
      opacity: 0;
      transition: all 0.2s; }
    @media (min-width: 1440px) {
      .content__blog .blog-view .blog-list {
        margin-top: 30px; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      .content__blog .blog-view .blog-list {
        margin-top: 30px; } }
    @media (min-width: 1440px) {
      .content__blog .blog-view {
        max-width: 100vw;
        height: calc(100vh - 80px);
        padding: 50px 200px; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      .content__blog .blog-view {
        max-width: 100vw;
        height: calc(100vh - 80px);
        padding: 50px 100px; } }
  @media (min-width: 1440px) {
    .content {
      width: calc(100% - 80px);
      margin-left: 80px; } }
  @media (min-width: 768px) and (max-width: 1439px) {
    .content {
      width: calc(100% - 80px);
      margin-left: 80px; } }

.tt-wrapper {
  display: none;
  z-index: 125;
  transition: all 0.2s;
  position: absolute; }
  .tt-wrapper .tt {
    color: #fff;
    font-family: Avenir;
    position: relative;
    background: #000000;
    width: 88px;
    height: 30px;
    display: flex;
    font-size: 14px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    justify-content: center;
    align-items: center; }
    .tt-wrapper .tt:after {
      content: '';
      position: absolute;
      left: -5%;
      transform: rotate(135deg);
      top: calc(35%);
      border: 4px solid #000000; }
  @media (min-width: 1440px) {
    .tt-wrapper {
      display: block; } }
  @media (min-width: 768px) and (max-width: 1439px) {
    .tt-wrapper {
      display: block; } }

.btn {
  width: 125px;
  height: 45px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s; }
  .btn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgba(17, 17, 17, 0.6);
    transform: translateY(-0.25em); }
  .btn-greeting {
    background: #000000;
    color: #FFFFFF;
    position: relative;
    font-family: "Avenir", sans-serif;
    margin-top: 30px; }
    @media (min-width: 1440px) {
      .btn-greeting {
        margin-top: 40px; } }

.bg-highligted {
  background: url("../images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: inline-block;
  padding: 2px 5px;
  margin: -2px -5px; }

.full-hw {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  overflow: hidden; }

.hidden {
  opacity: 0;
  width: 0; }

.pos--absolute {
  position: absolute; }

.pos--relative {
  position: relative; }

.fixed {
  position: fixed; }

.margin--auto {
  margin: auto; }
