$tablet-width: 768px;
$desktop-width: 1440px;
$head-font: 'Avenir Black',
sans-serif;
$sub-font: 'Avenir',
sans-serif;
$text-font: 'Charter',
serif;
$sidenav-bg: #F6F6F6;
$topnav-bg: #FFFFFF;
$search-bg: #F9F9F9;
$black: #000000;
$white: #FFFFFF;
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/AvenirLT-95 Black.ttf") format("truetype");
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter.ttf") format("truetype");
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  position: relative;
}

// @include fontFace('Avenir', 'Avenir Free');
.navbar {
  height: 80px;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  &--top {
    background: $topnav-bg;
    border-bottom: 2px solid #FBFBFB;
    top: 0;
    z-index: 123;
    .navbar__list {
      .list-item {
        width: 25%;
        padding: 3%;
        text-align: center;
        &:hover {
          cursor: pointer;
          background: url('../images/background.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: top;
          display: inline-block;
        }
        &.active {
          cursor: pointer;
          background: url('../images/background.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: top;
          display: inline-block;
        }
      }
      @include desktop {
        width: 25%;
        margin-left: 70%;
      }
      @include tablet {
        width: 40%;
        margin-left: 55%;
      }
    }
    @include desktop {
      border: none;
    }
    @include tablet {
      border: none;
    }
  }
  &--side {
    background: $sidenav-bg;
    bottom: 0;
    z-index: 124;
    .navbar__list {
      @include desktop {
        height: 35%;
        margin-top: 62vh;
        flex-direction: column;
      }
      @include tablet {
        height: 30%;
        margin-top: 65vh;
        flex-direction: column;
      }
    }
    @include desktop {
      height: 100%;
      left: 0;
      width: 80px;
    }
    @include tablet {
      height: 100%;
      left: 0;
      width: 80px;
    }
  }
}

.navbar__list {
  align-items: center;
  /* background: #e11245; */
  display: flex;
  height: 100%;
  justify-content: space-around;
  list-style: none;
  .list-item {
    cursor: pointer;
    /* background: #e11; */
    font-family: $sub-font;
    font-size: 17px;
    .icon {
      font-size: 35px;
      @include desktop {
        font-size: 30px;
      }
    }
  }
}

.content {
  // background: #eee;
  height: calc(100vh - 80px);
  margin-top: 80px;
  width: 100%;
  &__home {
    .home-view {
      max-width: 600px;
      padding: 60px 30px;
      .heading {
        font-family: $head-font;
        font-size: 40px;
        font-weight: 900; // line-height: 1;
        @include desktop {
          font-size: 60px;
        }
        @include tablet {
          font-size: 50px;
        }
      }
      .title {
        color: #8E8E8E;
        font-family: $sub-font;
        font-size: 18px;
        font-weight: 300;
      }
      .description {
        font-family: $text-font;
        margin-top: 15px;
        line-height: 1.8;
        @include desktop {
          line-height: 2;
          font-size: 18px;
        }
        @include tablet {
          line-height: 2;
          font-size: 18px;
        }
      }
      @include desktop {
        max-width: 920px;
        padding: 200px 200px;
      }
      @include tablet {
        padding: 350px 100px;
      }
    }
  }
  &__blog {
    .blog-view {
      overflow: scroll;
      height: calc(100vh - 160px);
      max-width: 600px;
      padding: 20px 30px;
      .blog-head {
        text-align: center;
        h2 {
          font-family: $head-font;
          font-size: 30px;
        }
        .search-bar {
          background: $search-bg;
          border-radius: 50px;
          font-family: $sub-font;
          margin: 20px auto;
          position: relative;
          width: 280px;
          height: 45px;
          input {
            height: 100%;
            width: 70%;
            position: absolute;
            left: 10%;
            &::placeholder {
              color: $black;
            }
          }
          .search-icon {
            background: url('../images/search-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            position: absolute;
            right: 0;
            width: 20%;
          }
          @include desktop {
            margin: 20px 0;
          }
          @include tablet {
            margin: 20px 0;
          }
        }
        @include desktop {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        @include tablet {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        ;
      }
      .blog-list {
        ul {
          list-style: none;
        }
        .list-item {
          margin-bottom: 30px;
          &:hover {
            cursor: pointer;
            .list-head {
              color: #008CEC;
            }
            .list-link {
              opacity: 1;
            }
          }
        }
        .list-head {
          font-family: $head-font;
          margin-bottom: 10px;
          transition: all 0.2s;
          @include desktop {
            font-size: 22px;
          }
          @include tablet {
            font-size: 22px;
          }
        }
        .list-date {
          color: #8E8E8E;
          font-family: $sub-font;
          margin-bottom: 5px;
        }
        .list-desc {
          font-family: $text-font;
        }
        .list-link {
          color: #008CEC;
          opacity: 0;
          transition: all 0.2s;
        }
        @include desktop {
          margin-top: 30px;
        }
        @include tablet {
          margin-top: 30px;
        }
      }
      @include desktop {
        max-width: 100vw;
        height: calc(100vh - 80px);
        padding: 50px 200px;
      }
      @include tablet {
        max-width: 100vw;
        height: calc(100vh - 80px);
        padding: 50px 100px;
      }
    }
  }
  @include desktop {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
  @include tablet {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
}

.tt-wrapper {
  display: none;
  z-index: 125;
  transition: all 0.2s;
  position: absolute;
  .tt {
    color: #fff;
    font-family: Avenir;
    position: relative;
    background: $black;
    width: 88px;
    height: 30px;
    display: flex;
    font-size: 14px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    &:after {
      content: '';
      position: absolute;
      left: -5%;
      transform: rotate(135deg);
      top: calc(35%);
      border: 4px solid $black;
    }
  }
  @include desktop {
    display: block;
  }
  @include tablet {
    display: block;
  }
}

.btn {
  width: 125px;
  height: 45px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgba(#111, 0.6);
    transform: translateY(-0.25em);
  }
  &-greeting {
    background: $black;
    color: $white;
    cursor: pointer;
    position: relative;
    font-family: $sub-font;
    margin-top: 30px;
    @include desktop {
      margin-top: 40px;
    }
  }
}

.bg-highligted {
  background: url('../images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: inline-block;
  padding: 2px 5px;
  margin: -2px -5px;
}

.full-hw {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  width: 0;
}

.pos {
  &--absolute {
    position: absolute;
  }
  &--relative {
    position: relative;
  }
}

.fixed {
  position: fixed;
}

.margin {
  &--auto {
    margin: auto;
  }
}